<div class="container-sm py-4">
  <h1 class="d-flex justify-content-between align-items-center">
    Touiteur
  </h1>
  <hr>
  <div class="card mb-4 w-50 mx-auto">
    <div class="card-body">
      <h5 class="card-title d-flex align-items-center">
        <%= image_tag "avatars/#{@message.id % 2}.jpeg", class: "rounded-circle mr-2", style: "width: 2rem;" %>
        <%= @message.author %>
      </h5>
      <p class="card-text">
        <%= @message.content %>
      </p>
      <div class="d-flex justify-content-end align-items-center text-muted">
        <%= image_tag "icons/clock.svg", width: 12, height: 12, class: "mr-1" %>
        <small>
          <%= l @message.created_at %>
        </small>
      </div>
    </div>
  </div>
  <%= link_to "Retour à l'accueil", root_path %>
</div>
